/**mobile**/
@media (max-width: 740px) {
    #header{
        overflow: hidden;
    }
    #header .menubtn{

        position: absolute;
        top: 0;
        right:0;
        display:inline-block;
    }
    #nav > li{
        display:block;
    }
    #nav li a{
        padding: 1px 24px;
    }
    #nav > li:first-child{
        display:inline-block;
    }
    #header .searchbtn{

        display:none;
    }
    #nav{
        display: block;
    }
    #nav .subnav{
        position: initial;
        background-color: rgb(26, 26, 26);
    }
    #nav .subnav a{
        color:#fff;
        padding: 5px 41px;
    
       }
    .explore{
        border-style: none;
        border-radius: 35px;
        margin-top: 30px;
        background-image:linear-gradient(90deg,#fa9e1b,#8d4fff);
        color: #fff ;
        padding: 11px 35px;
        text-decoration: none;
    
    }
    
    #content .member-contain{
    
     display: flex;
     flex-direction: row;
    
    }
    #content .about{
        margin-top: 25px;
        text-align: justify;
        line-height: 1.4;
        color: #919191;
        font-style: italic;
        margin: 30px 16px;
    
    }
    .member-list{
        display: none;
    }
    .place-item{
        width:100%;
       margin-top: 16px;
    }
    .modal-container {
        margin: 0 24px;
    }
    .contactform .cf{
        width: 100%;
        margin-top: 8px;
    }
    #mes{
        margin-top: 0;
    }
    .hotel-contain{
        display: inline-block;
        align-items: center;
        justify-content: center;
        
    }
}